*{
    margin: 0%;
}
body{
    background:wheat;
}
header{
    position: relative;
    margin: auto;
    text-align: center;
    padding: 5px;
}
nav{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    background: rgb(103,23,40);
}
nav ul{
    position: relative;
    margin: auto;
    width: 50%;
    text-align: none;
}
nav ul li{
    display: inline-block;
    width: 24%;
    line-height: 50px;
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
section{
    position: relative;
    padding: 20px;
}
footer{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    background: rgb(103,23,40);
    text-align: center;
    color: white;
}
